:root {
  line-height: 1.5;
  font-weight: 400;

  background: linear-gradient(45deg, #d37ec6, #ffc873, #ff3867);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: poppins, sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#card {
  width: 450px;
  height: 600px;
  background-color: white;
  border-radius: 8px;
  box-shadow: #213547 0px 0px 5px 0px, #213547 0px 0px 5px 0px inset;
}

#banner-img {
  border-radius: 8px 8px 0 0;
  width: 450px;
  height: 200px;
  object-fit: fill;
  border-bottom: #ff3867 3px solid;
}

#avatar-img {
  border-radius: 50%;
  justify-self: center;
  width: 128px;
  height: 128px;
  border: #ff3867 3px solid;
  margin-top: -120px;
}

#name {
  color: black;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  margin: 0;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

#location {
  color: #A05D5D;
  font-style: italic;
}

#description {
  font-family: poppins;
  padding: 0 40px;
  text-align: left;
  font-size: 14px;
  margin-top: 25px;
  ;
}

#follow-btn {
  color: #2D7CBF;
  border: #2D7CBF 2px solid;
  border-radius: 9999px;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin: 20px;
  font-size: 14px;
  font-weight: bolder;
  transition: all 0.1s ease-in;
}

#follow-btn:hover {
  color: white;
  border: white 2px solid;
  background-color: #2D7CBF;
}

#stats {
  margin-top: 20px;
  display: flex;
  border-top: #888 1px solid;
  height: 80px;
}

.stat-item {
  width: 150px;
  justify-content: center;
}

.stat-item span {
  color: #888;
}

.stat-item p {
  color: #888;
  margin-bottom: 5px;
}

#followers {
  border-right: #888 1px solid;
  border-left: #888 1px solid;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}