:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background: linear-gradient(45deg, #d37ec6, #ffc873, #ff3867);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#card {
  width: 450px;
  height: 600px;
  background-color: white;
  border-radius: 8px;
  box-shadow: #213547 0px 0px 5px 0px;
}

#banner-img {
  border-radius: 8px 8px 0 0;
  width: 450px;
  height: 200px;
  object-fit: fill;
  border-bottom: #ff3867 3px solid;
}

#avatar-img {
  border-radius: 50%;
  justify-self: center;
  width: 128px;
  height: 128px;
  border: #ff3867 3px solid;
  margin-top: -120px;
}

#name {
  color: black;
  font-family: Montserrat;
  font-weight: bold;
  margin: 0;
}

#location {
  color: #A05D5D;
  font-family: poppins;
  display: flex;
  justify-content: center;
  align-items: center;
}

#description {
  color: black;
  font-family: poppins;
  padding: 0 40px;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}